<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PostgreSQL Database Modeler</Name>
    <Version>{version}</Version>
    <Title>pgModeler</Title>
    <Publisher>Raphael Araújo e Silva (raphael@pgmodeler.io)</Publisher>
    <TargetDir>{prefix}</TargetDir>
    <InstallerApplicationIcon>installer_icon</InstallerApplicationIcon>
    <InstallerWindowIcon>installer_icon</InstallerWindowIcon>
    <Logo>installer_logo.png</Logo>
    <Watermark>watermark.png</Watermark>
    <RemoveTargetDir>true</RemoveTargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
	<WizardDefaultHeight>400</WizardDefaultHeight>
    <WizardDefaultWidth>500</WizardDefaultWidth>
	<WizardStyle>Classic</WizardStyle>
	<SupportsModify>False</SupportsModify>
	<MaintenanceToolName>uninstall</MaintenanceToolName>
</Installer>
