.qmake.stash

*.[oa]
*.dll
*.exe
*.so.*
*.so
*.pro.user
*.directory
*.run
*.Debug
*.Release
*.old

moc_*.cpp
moc_*.h
qrc_resources.cpp
ui_*.h
windeploy.log
Makefile

build/*
dist/*
moc/*
obj/*
plugins
plugins/*
priv-plugins
priv-plugins/*
release/*
apps/pgmodeler-se/pgmodeler-se
apps/pgmodeler/pgmodeler
apps/pgmodeler-ch/pgmodeler-ch
apps/pgmodeler-sc/pgmodeler-sc
apps/pgmodeler-cli/pgmodeler-cli
tests/src/main/runtests
tests/src/basefunctiontest/basefunctiontest
tests/src/databasemodeltest/databasemodeltest
tests/src/servertest/servertest
tests/src/proceduretest/proceduretest
tests/src/csvparsertest/csvparsertest
tests/src/foreigndatawrappertest/foreigndatawrappertest
tests/src/schemafilessyntaxtest/schemafilessyntaxtest
tests/src/syntaxhighlightertest/syntaxhighlightertest
tests/src/linenumberstest/linenumberstest
tests/src/testkeywordquotes/Makefile
tests/src/testkeywordquotes/testkeywordquotes
tests/src/baseobjecttest/baseobjecttest
tests/src/roletest/roletest
tests/src/fileselectortest/fileselectortest
tests/src/schemaparsertest/schemaparsertest
tests/src/partrelationshiptest/baseobjecttest
tests/src/partrelationshiptest/partrelationshiptest
tests/src/xmlparsertest/xmlparsertest
tests/src/datadicttest/datadicttest
tests/src/usermappingtest/usermappingtest
tests/src/transformtest/transformtest
