.qmake.stash

*.[oa]
*.dll
*.exe
*.so.*
*.so
*.pro.user
*.directory
*.run
*.Debug
*.Release

moc_*.cpp
moc_*.h
qrc_resources.cpp
ui_*.h
windows_ico.qrc
windeploy.log
Makefile

build/*
dist/*
installer/template/packages/io.pgmodeler/data
installer/template/packages/io.pgmodeler/meta/package.xml
installer/template/config/config.xml
moc/*
obj/*
plugins
plugins/*
release/*
