.qmake.stash

*.[oa]
*.dll
*.exe
*.so.*
*.so
*.pro.user
*.directory
*.run
*.Debug
*.Release
*.old

moc_*.cpp
moc_*.h
qrc_resources.cpp
ui_*.h
windeploy.log
Makefile

build/*
dist/*
installer/template/packages/io.pgmodeler/data
installer/template/packages/io.pgmodeler/meta/package.xml
installer/template/config/config.xml
moc/*
obj/*
plugins
plugins/*
release/*
apps/pgmodeler/build/*
apps/pgmodeler-cli/build/*
apps/pgmodeler-ch/build/*
apps/pgmodeler-sce/build/*