<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PostgreSQL Database Modeler</Name>
    <Version>0.9.0</Version>
    <Title>pgModeler</Title>
    <Publisher>Raphael A. Silva (raphael@pgmodeler.com.br)</Publisher>
    <TargetDir>/opt/pgmodeler</TargetDir>
    <InstallerApplicationIcon>installer_icon</InstallerApplicationIcon>
    <InstallerWindowIcon>installer_icon</InstallerWindowIcon>
    <Logo>installer_logo.png</Logo>
    <Watermark>watermark.png</Watermark>
    <RemoveTargetDir>true</RemoveTargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
