<!DOCTYPE plist PUBLIC
        "-//Apple Computer//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>CFBundleDocumentTypes</key>
       <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
              <string>dbm</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>pgmodeler_dbm.icns</string>
            <key>CFBundleTypeName</key>
            <string>pgModeler Database Model</string>
           </dict>
       </array>
       <key>CFBundleIconFile</key>
       <string>pgmodeler.icns</string>
       <key>CFBundleExecutable</key>
       <string>pgmodeler</string>
       <key>CFBundleDisplayName</key>
       <string>pgModeler</string>
       <key>CFBundleIdentifier</key>
       <string>br.com.pgmodeler.pgModeler</string>
       <key>CFBundleInfoDictionaryVersion</key>
       <string>1.0</string>
       <key>CFBundlePackageType</key>
       <string>APPL</string>
       <key>CFBundleSignature</key>
       <string>????</string>
       <key>CFBundleVersion</key>
       <string>0.9.2</string>
       <key>CSResourcesFileMapped</key>
       <true/>
       <key>NSPrincipalClass</key>
       <string>NSApplication</string>
       <key>NSHighResolutionCapable</key>
       <string>True</string>
    </dict>
</plist>
